@font-face {
	font-family: "meiryo";
	src: url('/font/meiryo') format('truetype');
}

@font-face {
	font-family: "msgothic";
	src: url('/font/msgothic') format('truetype');
}

@font-face {
	font-family: "uzura";
	src: url('/font/uzura') format('truetype');
}

@font-face {
	font-family: "yusei";
	src: url('/font/yusei') format('truetype');
}

/*全体の設定*/
body {
	margin: 5x;
	padding: 10px;
	/*全体の文字色*/
	color: black;
	/*フォント種類*/
	font-family: "msgothic", sans-serif;
	font-size: 16px;
	/*行間*/
	line-height: 2;
	/*背景色*/
	background: lightgray;
	-webkit-text-size-adjust: none;
}

input,
button,
select {
	text-align: center;
	outline: none;
}

img {
	border: none;
	margin: auto;
	width: auto;
	height: 160px;
}

.searchTitle {
	color: black;
	background: lightgoldenrodyellow;
}

.searchMain {
	display: flex;
	padding: 5px;
}

.searchForm {
	border-collapse: collapse;
	border: 1px gray solid;
	padding: 0px 0px;
	width: 50%;
	height: 75%;
}

.searchResult {
	border-collapse: collapse;
	border: 0px gray solid;
	padding: 2px 0px;
	width: auto;
	height: auto;
	display: flex;
	/* overflow: scroll; */
	margin-inline: auto;
}

.searchResult th {
	color: black;
	background-color: lightsteelblue;
}

.thNo {
	text-align: center;
}

.searchResult th,
.searchResult td {
	border-collapse: collapse;
	border: 1px gray solid;
	margin-inline: auto;
}

.searchButton {
	align-items: center;
}

.linkButton {
	padding: 0px 0px 2px 2px;
	text-decoration: none;
	color: blue;
}

.topMenu ul {
	display: flex;
	flex-flow: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: gray;
}

.topMenu li {
	border-right: 1px solid white;
}

.topMenu li:last-child {
	border-right: none;
	margin-left: auto;
}

.topMenu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
	transition: all .3s;
}

.topMenu li a:hover:not(.active) {
	background-color: skyblue;
}

.loginTbl,
.userTbl {
	width: auto;
	height: auto;
	margin: auto;
	font-size: 16px;
	/* text-align: center; */
	font-family: "yusei", sans-serif;
	background-color: white;
	border: 2px solid pink;
	border-collapse: collapse;
}

footer {
	/* padding: 0px 20px; */
	text-align: center;
}

/*共通のメディアクエリ設定*/
@media (max-width:640px) {

	body,
	footer {
		font-size: 3vw;
	}

	img {
		width: 120px;
		height: auto;
	}

	.searchForm,
	.searchResult {
		width: auto;
		height: auto;
	}

	.topMenu ul {
		flex-direction: column;
	}

	.topMenu li {
		border-right: none;
		border-bottom: 1px solid white;
	}

	.topMenu li:last-child {
		border-bottom: none;
		margin-left: 0;
	}
}