<!DOCTYPE html>
<html lang="ja">

<head>
    <title>{{ title }}</title>
    <script src="/templates/header.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            initDisplay();
            displayChkMsg();
        });
    </script>
</head>

<body>
    <div>
        <form id="frmLogin" method="post" action="/login">
            <table class="loginTbl">
                <thead>
                    <th id="thSysNm" colspan="2"></th>
                </thead>
                <br>
                <br>
                <tbody>
                    <th colspan="2"><img src="/templates/logo.png" alt=""></th>
                    <tr>
                        <th>ID</th>
                        <td>
                            <input type="email" id="userId" name="userId" placeholder="name@name.com" required />
                        </td>
                    </tr>
                    <tr>
                        <th>PW</th>
                        <td>
                            <input type="password" id="userPassword" name="userPassword" placeholder="password"
                                required />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">
                            <button type="submit" id="btnLogin">ログイン</button>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
        <p id="chkMsg">{{ chk_msg }}</p>
    </div>
</body>

</html>