<!DOCTYPE html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="/templates/numberPlate.css">
    <script src="/templates/numberPlate.js"></script>
    <title>{{ title }}</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            initDisplay();
        });
    </script>
</head>

<body>
    <div class="main">
        <h1>{{ title }}</h1>
        <div>
            <p id="number-display">{{ num }}</p>
            <p id="rank"><img src="/templates/rank1.png">
                <span id="rank-user">{{ rank_user }}</span>
                <span id="rank-time">{{ rank_time }}</span>
            </p>
            <p id="timer"></p>
        </div>
        <div id="rule-detail">
            <h3>ルール</h3>
            <ul>
                <li>4つの数字を使い正しい数式を作る</li>
                <li>四則演算(+ - * /)：最大3つ使用</li>
                <li>イコール(=)：必ず1つのみ使用</li>
                <!-- <li>問題：10問。1問の最大点：10点。制限時間：300秒</li>
                    <li>正解時3秒毎に1点減点（0～3秒:10点, .., 28秒以上:1点）</li> -->
            </ul>
        </div>
        <input id="expression" type="text" placeholder="例: 1+2-3=0">
        <button id="btnChk" onclick="checkAnswer()">回答</button>
        <button id="btnNext" onclick="location.reload()">次へ</button>
        <div id="message"></div>
        <div id="number-answer" hidden>{{ ans }}</div>
    </div>
</body>

<footer>
    <a href="/">ホーム画面へ</a>
</footer>

</html>