<!DOCTYPE html>
<html lang="ja">

<head>
    <script src="/templates/const.js"></script>
    <script src="/templates/func.js"></script>
    <script src="/templates/numberPlate.js"></script>
    <link rel="stylesheet" href="/templates/numberPlate.css" />
    <title>🚙Number Plate Game</title>
</head>

<body>
    <div class="main">
        <h1 id="title">{{ title }}</h1>
        <p id="langCd" hidden>{{ lang }}</p>
        <p id="levelVal" hidden>{{ level }}</p>
        <div>
            <p id="level"></p>
            <p id="rank">
                <span id="rank-user"><img src="/templates/rank1.png" alt="rank1" /> {{ rank_user }}</span>
                <span id="rank-time">{{ rank_time }}</span>
            </p>
        </div>
        <div>
            <p id="number-display">{{ num }}</p>
            <p id="timer"></p>
        </div>
        <div id="rule-detail">
            <button type="button" id="btnRule">
                <img src="/templates/click.png" alt="click" />
            </button>
        </div>
        <input id="expression" type="text" /><br />
        <button type="button" id="btnStart"></button>
        <button type="button" id="btnChk"></button>
        <button type="button" id="btnNext" onclick="location.reload()"></button>
        <div id="message"></div>
        <div id="number-answer" hidden>{{ ans }}</div>
    </div>
</body>

<footer>
    <a href="/">Go To Home</a>
</footer>

</html>