<!DOCTYPE html>
<html lang="ja">

<head>
  <title data-key="title"></title>
  <script src="/templates/const.js"></script>
  <script src="/templates/func.js"></script>

  {% if app_name == 'travel' %}
  <script src="/templates/travel.js"></script>

  {% elif app_name == 'number' %}
  <script src="/templates/number.js"></script>
  <link rel="stylesheet" href="/templates/number.css" />

  {% elif app_name == 'sudoku' %}
  <script src="/templates/sudoku.js"></script>
  <link rel="stylesheet" href="/templates/sudoku.css" />

  {% elif app_name == 'itQuiz' %}
  <script src="/templates/itQuiz.js"></script>
  <link rel="stylesheet" href="/templates/itQuiz.css" />

  {% elif app_name == 'gemini' %}
  <script src="/templates/gemini.js"></script>
  <link rel="stylesheet" href="/templates/gemini.css" />

  {% elif app_name == 'review' %}
  <script src="/templates/review.js"></script>

  {% elif app_name == 'dashboard' %}
  <link rel="stylesheet" href="/templates/dashboard.css" />
  <script src="/templates/chart.js"></script>
  <script src="/templates/dashboard.js"></script>

  {% elif '_design' in app_name or '_prompt' in app_name %}
  <script src="/templates/marked.min.js"></script>
  <script src="/templates/design.js"></script>
  {% endif %}

  <link rel="icon" href="/templates/favicon.ico" type="image/x-icon">
</head>

<body>
  <p id="appName" hidden>{{ app_name }}</p>
  <p id="userName" hidden>{{ user_name }}</p>
  <p id="langCd" hidden>{{ lang_cd }}</p>
  <p id="dataList" hidden>
    {% if app_name == 'number' or app_name == 'itQuiz' %}
    {{ data_list | tojson }}
    {% else %}
    {{ data_list }}
    {% endif %}
  </p>

  {% if app_name == 'travel' %}
  <div class="container">
    <header>
      <h1 id="page-title"></h1>
      <p class="subtitle" id="page-subtitle"></p>
    </header>

    <div class="controls">
      <select id="lang-select" hidden></select><br />
      <p id="city-title"></p>
      <select id="region-select"></select>
    </div>

    <div class="card-grid" id="card-grid"></div>
  </div>

  <div id="dialog" class="dialog">
    <div class="dialog-content">
      <span class="close-btn">&times;</span>
      <h3 id="dialog-title"></h3>
      <p id="dialog-text"></p>
    </div>
  </div>

  {% elif app_name == 'number' %}
  <div class="main">
    <h1 id="title"></h1>
    <div>
      <p id="level"></p>
      <p id="levelVal" hidden></p>
      <p id="rank">
        <span id="rank-user"><img src="/templates/rank1.png" alt="rank1" /></span>
        <span id="rank-time"></span>
      </p>
    </div>
    <div>
      <p id="number-display"></p>
      <p id="timer"></p>
      <button type="button" id="btnRule">
        <img src="/templates/click.png" alt="click" />
      </button>
    </div>
    <div id="exprArea" class="expr-area"></div>
    <button type="button" id="btnStart"></button>
    <button type="button" id="btnChk"></button>
    <button type="button" id="btnNext" onclick="setStop()"></button>
    <div id="message"></div>
    <div id="number-answer" hidden></div>
  </div>

  {% elif app_name == 'sudoku' %}
  <div id="app">
    <div id="start-screen" class="screen">
      <h1 id="title"></h1>
      <div>
        <select id="lang-select"></select>
        <select id="level-select"></select>
      </div>
      <div id="user-input-container">
        <input type="text" id="user-name-input" minlength="4" maxlength="10" placeholder="Input user name.">
      </div>

      <div id="start-controls"></div>

      <div id="rank-container">
        <h2 id="rank-title"></h2>
        <table id="rank-table">
          <thead>
            <tr id="rank-thead"></tr>
          </thead>
          <tbody id="rank-tbody">
            <!-- ランキングデータ -->
          </tbody>
        </table>
      </div>
    </div>

    <div id="game-screen" class="screen">
      <div id="game-info-header"></div>

      <div id="timer-display">
        <div id="timer-text"></div>
        <div id="progress-bar-container">
          <div id="progress-bar"></div>
        </div>
      </div>

      <div id="sudoku-board"></div>
      <div id="input-panel"></div>
      <div id="game-controls"></div>
    </div>

    <div id="modal-overlay">
      <div id="modal-content">
        <button id="modal-close-button"></button>
        <h3 id="modal-title"></h3>
        <div id="modal-body"></div>
      </div>
    </div>
  </div>

  {% elif app_name == 'itQuiz' %}
  <!-- メインのコンテナ -->
  <div class="container" id="main-container"></div>

  <!-- モーダル（ダイアログ）要素 -->
  <dialog id="message-dialog">
    <p id="dialog-content"></p>
    <div class="flex-center">
      <button id="message-close-btn"></button>
    </div>
  </dialog>

  <dialog id="rule-dialog">
    <h3 id="rule-title"></h3>
    <div id="rule-content"></div>
    <div class="flex-center">
      <button id="rule-close-btn"></button>
    </div>
  </dialog>

  <dialog id="choice-dialog">
    <h3 id="choice-title"></h3>
    <p id="choice-instruction"></p>
    <div id="choice-buttons-container" class="choice-buttons-container">
      <!-- 選択肢ボタンはここに動的に挿入されます -->
    </div>
    <div class="flex-center">
      <button id="choice-close-btn"></button>
    </div>
  </dialog>

  {% elif app_name == 'gemini' %}
  <div class="container">
    <div id="language-switcher">
    </div>

    <h1>
      <span data-key="title"></span><br />
      <span id="subtitle" class="subtitle" data-key="subtitle"></span>
    </h1>

    <div class="mode-selection" id="modeSelection">
      <label id="modeLabel" for="generationMode" data-key="modeLabel"></label>
      <select id="generationMode"></select>
    </div>

    <div id="imageGenerationForm">
      <div class="form-section" id="imageFormSection"></div>
      <div class="form-group">
        <label id="additionalPromptLabel" for="additionalPrompt" data-key="additionalPromptLabel"></label>
        <textarea id="additionalPrompt" maxlength="40" data-key="additionalPromptPlaceholder"></textarea>
      </div>
    </div>

    <button type="submit" id="generateButton" data-key="generateButton" onclick="generateContent()"></button>

    <div class="image-container" id="outputImageContainer">
      <img id="generatedImage" src="/img/gemini" alt="gemini" />
    </div>

    <div class="text-output" id="outputTextContainer">
      <h2 id="storyTitle" data-key="storyTitle"></h2>
      <pre id="generatedText"></pre>
      <button type="button" id="copyTextButton" class="copy-button" onclick="copyText()"
        data-key="copyTextButton"></button>
    </div>
  </div>

  {% elif app_name == 'review' %}
  <div id="divBoard" class="board-container">
    <h1></h1>
    <form id="formReview">
      <div id="divReview"></div>
      <table id="tableReview"></table>
      <button type="submit" id="save-btn" class="save-btn" onclick="sendReview()"></button>
    </form>
    <p id="message" class="msg"></p>
  </div>

  {% elif app_name == 'dashboard' %}
  <div class="header">
    <div class="container">
      <h1 id="header-title"></h1>
    </div>
  </div>

  <div class="container">
    <div class="controls">
      <label id="time-period-label" for="time-period"></label>
      <select id="time-period"></select>
    </div>
    <div class="dashboard-grid" id="dashboard-grid"></div>
  </div>

  {% elif '_design' in app_name or '_prompt' in app_name %}
  <div id="markdown-container" class="container"></div>

  {% else %}
  <div id="container"></div>

  {% endif %}
</body>

<footer>
  <script src="/templates/footer.js"></script>
  <script>
    writeFooter("{{ user_div }}");
  </script>
</footer>

</html>