<!DOCTYPE html>
<html lang="ja">

<head>
  <title></title>
  <script src="/templates/const.js"></script>
  <script src="/templates/func.js"></script>
  <script src="/templates/review.js"></script>
  <link rel="stylesheet" href="/templates/style2.css" />
</head>

<body>
  <div id="divBoard" class="board-container">
    <h1></h1>
    <form id="formReview">
      <div id="divReview"></div>
      <table id="tableReview"></table>
      <button type="submit" id="save-btn" class="save-btn" onclick="sendReview()"></button>
    </form>
    <p id="message" class="msg"></p>
  </div>
</body>

</html>